* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  font-size: 1.1rem;
 font-style: italic;
  position: relative;
  border-bottom: .1px solid orangered;
  border-top: .1px solid orangered;
  border-right: .1px solid orangered;
  border-left: .1px solid orangered;

}
nav {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  cursor: pointer;
}
li {
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
}
li a {
  text-decoration : none;
  color: orangered;
}
.info {
  margin-left: 8%;
  margin-top: 15%;
}
.info h1 {
  font-size: 70px;
  margin-bottom: 20px;
}
span {
  color: orangered;
}
.info p {
  line-height: 22px;
}
.info a {
  background: white;
  color: black;
  border: 1px solid orangered;
  padding: 10px 18px;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.info a:hover{
  background: #000;
  color: orangered;
}
.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.img-box:hover .back-img {
  bottom: 40px;
}
.img-box:hover .main-img {
  left: 54%;
}
.social-links {
  margin-left: 8%;
  margin-top: 8px;
}
.social-links a {
  font-size: 30px;
  color: orangered;
  margin-right: 20px;
}
.bode{
  background: white;
  color: black;
}
#btn{
  padding: 10px 18px;
  border-radius: 18px 52px;
  font-style: italic;
  border: 1px solid orangered;
  font-size: .9rem;
  background-color: orangered;
  color: white;
}
#btn:hover{
  border-radius: 52px 18px;
  cursor: pointer;

}